@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url("backgrounds/bg1.jpg");
  width: auto;
  background: #1A1A1D;
  font-family: "Montserrat", sans-serif;
}

footer {
  position: fixed;
  background: #4E4E50;
  font-family: "Montserrat", sans-serif;
  top: 96%;
  width: 100%;
  padding: 10px;
  text-align: center;
}








.mymenu {
  position: fixed; 
  top: 2%;
  left: 50%;
  width: 100%;
  display: flex;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #4E4E50;
  text-align: center;
  margin: auto;

}

.mymenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: xx-large;
  text-transform: uppercase;
  font-weight: 400;
  width: 50px;
  margin: auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mymenu a:hover {
  color: #950740;
}

.mymenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: xx-large;
  text-transform: uppercase;
  font-weight: 600;
  width: 300px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mymenu a:hover {
  color: #950740;
}


.form-container {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  z-index: 2;
  position: absolute;
  
}

.form-container:not(:first-of-type) {
  display: none;
}
.form-container .customerAdditionResponse {
  display: none;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.form-container h2 {
  font-size: 2rem;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin: 0px 0px 20px;
  text-align: center;
}
.form-container input {
  display: block;
  width: 100%;
  padding: 10px;
}
.form-container textarea {
  display: block;
  width: 50%;
  padding: 10px;
  resize: vertical;
}
.form-container input,
.form-container textarea {
  border: 2.5px solid var(--blue-1);
  border-radius: 5px;
  background-color: #EEEEEE;
  box-sizing: border-box;
}
.form-container input:focus,
.form-container textarea:focus {
  border: 2.5px solid var(--blue-hover);
  outline: 2.5px solid var(--blue-hover);
}












.mybody {
    position: 100px;
    height: 2000px;
    margin: auto;
    width: 1800px;
    border: 15px solid #1A1A1D;
    padding: 400px;
    
  }
  
 




input[value='Submit']{
    border-radius: 70px;
    padding: 10px 20px;
    min-width: 400px;
    max-width: 600px;
    background-color: var(--blue-1);
    border: 2.5px solid var(--blue-3);
    color: white;
    margin: 30px auto 0px;
    transition: 0.15s ease-out;
    cursor: pointer;
}
input[value='Submit']:hover,
.functionality-buttons button:hover,
.invoices-form-row button:hover {
    background-color: #EEEEEE;
    color: black;
    transform: translateY(-3px);
}

.input-group {
  display: grid;
  grid-template-rows: auto auto;
  margin-bottom: 20px;
}
.input-group span {
  position: relative;
  left: 10px;
  margin-top: 2px;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 0.7rem;
  color: var(--error-text);
}




.form-container {
  position: relative;
  left: 10%;
  width: 80%;
  border: 1px solid black;
  padding: 20px;
  margin: 80px;
  background-color: #4E4E50;
  



}





  
 



